.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #dfdfde;
}
main {
  box-shadow: 0px 0px 4px -2px #333;
  width: 600px;
  height: 400px;
  border: 1px solid #ddd;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
.message {
  letter-spacing: 2px;
  background-color: #4d96ff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgba(#333, 0.2);
}
.messages {
  height: 320px;
  overflow: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-group {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  border: 1px solid #ddd;
  width: 100%;
}
input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  width: 90%;
}
.right-text {
  margin-left: auto;
  background-color: #56bbf1;
}
.time {
  font-size: 10px;
  margin-left: 4px;
}
::selection {
  background-color: transparent;
  color: turquoise;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
